<div class="workflow-designer-standalone">
  <div class="header">
    <div class="action-set">
      <button class="layout">
        <i class="ti ti-layout-sidebar"></i>
      </button>
      <button class="layout">
        <i class="ti ti-layout-sidebar-right"></i>
      </button>
      <button (click)="workflowPicker($event)">
        <span>Market Place Project</span>
        <i class="ti ti-arrows-split-2"></i>
        <span>On new message recieved</span>
      </button>
    </div>
    <div class="action-set reverse">
      <button (click)="addNode()" class="primary">
        <i class="ti ti-layout-grid-add"></i>
      </button>
      <button (click)="saveWorkflow($event)" class="success">
        <i class="ti ti-device-floppy"></i>
      </button>
      <button (click)="rearrangeLayout($event)" class="warning">
        <i class="ti ti-affiliate"></i>
      </button>
      <button (click)="resetWorkflow($event)" class="danger">
        <i class="ti ti-refresh"></i>
      </button>
    </div>
    <div class="action-set reverse">
      <button class="success">
        <i class="ti ti-player-play"></i>
      </button>
      <button class="success">
        <i class="ti ti-bug"></i>
      </button>
      <button (click)="openTab('jobs')" class="warning">
        <i class="ti ti-activity"></i>
      </button>
      <button (click)="openTab('logs')" class="layout">
        <i class="ti ti-terminal-2"></i>
      </button>
      <button (click)="openTab('notifications')" >
        <i class="ti ti-bell"></i>
      </button>
      <button (click)="openTab('settings')" >
        <i class="ti ti-settings"></i>
      </button>
      <button>
        <i class="ti ti-user-circle"></i>
        <span>Navid Kianfar</span>
      </button>
    </div>
  </div>
  <div class="tabs-header">
    <ul>
      <li (click)="switchTab(tab, $event)" [class.selected]="tab.selected" *ngFor="let tab of tabs">
        <i [class]="tab.icon"></i>
        <span>{{tab.title}}</span>
        <i (click)="closeTab(tab, $event)" *ngIf="tab.dismissible" class="ti ti-x"></i>
      </li>
    </ul>
  </div>
  <div class="tabs-content">
    <div class="designer-tab" [hidden]="!tab.selected" *ngFor="let tab of tabs">
      <ng-container *ngComponentOutlet="tab.payload"></ng-container>
    </div>
  </div>
</div>
