@font-face {
  font-family: 'krdr-icon';
  src:
    url('/assets/fonts/krdr-icon/krdr-icon.ttf?7m51wz') format('truetype'),
    url('/assets/fonts/krdr-icon/krdr-icon.woff?7m51wz') format('woff'),
    url('/assets/fonts/krdr-icon/krdr-icon.svg?7m51wz#krdr-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="krdr-icon-"], [class*=" krdr-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'krdr-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.krdr-icon-activity:before {
  content: "\e900";
}
.krdr-icon-airplay:before {
  content: "\e901";
}
.krdr-icon-alert-circle:before {
  content: "\e902";
}
.krdr-icon-alert-octagon:before {
  content: "\e903";
}
.krdr-icon-alert-triangle:before {
  content: "\e904";
}
.krdr-icon-align-center:before {
  content: "\e905";
}
.krdr-icon-align-justify:before {
  content: "\e906";
}
.krdr-icon-align-left1:before {
  content: "\e907";
}
.krdr-icon-align-right1:before {
  content: "\e908";
}
.krdr-icon-anchor:before {
  content: "\e909";
}
.krdr-icon-aperture:before {
  content: "\e90a";
}
.krdr-icon-archive1:before {
  content: "\e90b";
}
.krdr-icon-arrow-down:before {
  content: "\e90c";
}
.krdr-icon-arrow-down-circle:before {
  content: "\e90d";
}
.krdr-icon-arrow-down-left:before {
  content: "\e90e";
}
.krdr-icon-arrow-down-right:before {
  content: "\e90f";
}
.krdr-icon-arrow-left:before {
  content: "\e910";
}
.krdr-icon-arrow-left-circle:before {
  content: "\e911";
}
.krdr-icon-arrow-right:before {
  content: "\e912";
}
.krdr-icon-arrow-right-circle:before {
  content: "\e913";
}
.krdr-icon-arrow-up:before {
  content: "\e914";
}
.krdr-icon-arrow-up-circle:before {
  content: "\e915";
}
.krdr-icon-arrow-up-left:before {
  content: "\e916";
}
.krdr-icon-arrow-up-right:before {
  content: "\e917";
}
.krdr-icon-at-sign1:before {
  content: "\e918";
}
.krdr-icon-award:before {
  content: "\e919";
}
.krdr-icon-bar-chart:before {
  content: "\e91a";
}
.krdr-icon-bar-chart-2:before {
  content: "\e91b";
}
.krdr-icon-battery:before {
  content: "\e91c";
}
.krdr-icon-battery-charging:before {
  content: "\e91d";
}
.krdr-icon-bell:before {
  content: "\e91e";
}
.krdr-icon-bell-off:before {
  content: "\e91f";
}
.krdr-icon-bluetooth:before {
  content: "\e920";
}
.krdr-icon-bold:before {
  content: "\e921";
}
.krdr-icon-book:before {
  content: "\e922";
}
.krdr-icon-book-open:before {
  content: "\e923";
}
.krdr-icon-bookmark:before {
  content: "\e924";
}
.krdr-icon-box:before {
  content: "\e925";
}
.krdr-icon-briefcase:before {
  content: "\e926";
}
.krdr-icon-calendar:before {
  content: "\e927";
}
.krdr-icon-camera1:before {
  content: "\e928";
}
.krdr-icon-camera-off:before {
  content: "\e929";
}
.krdr-icon-cast:before {
  content: "\e92a";
}
.krdr-icon-check:before {
  content: "\e92b";
}
.krdr-icon-check-circle:before {
  content: "\e92c";
}
.krdr-icon-check-square:before {
  content: "\e92d";
}
.krdr-icon-chevron-down:before {
  content: "\e92e";
}
.krdr-icon-chevron-left:before {
  content: "\e92f";
}
.krdr-icon-chevron-right:before {
  content: "\e930";
}
.krdr-icon-chevron-up:before {
  content: "\e931";
}
.krdr-icon-chevrons-down:before {
  content: "\e932";
}
.krdr-icon-chevrons-left:before {
  content: "\e933";
}
.krdr-icon-chevrons-right:before {
  content: "\e934";
}
.krdr-icon-chevrons-up:before {
  content: "\e935";
}
.krdr-icon-chrome1:before {
  content: "\e936";
}
.krdr-icon-circle:before {
  content: "\e937";
}
.krdr-icon-clipboard:before {
  content: "\e938";
}
.krdr-icon-clock1:before {
  content: "\e939";
}
.krdr-icon-cloud:before {
  content: "\e93a";
}
.krdr-icon-cloud-drizzle:before {
  content: "\e93b";
}
.krdr-icon-cloud-lightning:before {
  content: "\e93c";
}
.krdr-icon-cloud-off:before {
  content: "\e93d";
}
.krdr-icon-cloud-rain:before {
  content: "\e93e";
}
.krdr-icon-cloud-snow:before {
  content: "\e93f";
}
.krdr-icon-code:before {
  content: "\e940";
}
.krdr-icon-codepen1:before {
  content: "\e941";
}
.krdr-icon-codesandbox:before {
  content: "\e942";
}
.krdr-icon-coffee1:before {
  content: "\e943";
}
.krdr-icon-columns:before {
  content: "\e944";
}
.krdr-icon-command:before {
  content: "\e945";
}
.krdr-icon-compass:before {
  content: "\e946";
}
.krdr-icon-copy:before {
  content: "\e947";
}
.krdr-icon-corner-down-left:before {
  content: "\e948";
}
.krdr-icon-corner-down-right:before {
  content: "\e949";
}
.krdr-icon-corner-left-down:before {
  content: "\e94a";
}
.krdr-icon-corner-left-up:before {
  content: "\e94b";
}
.krdr-icon-corner-right-down:before {
  content: "\e94c";
}
.krdr-icon-corner-right-up:before {
  content: "\e94d";
}
.krdr-icon-corner-up-left:before {
  content: "\e94e";
}
.krdr-icon-corner-up-right:before {
  content: "\e94f";
}
.krdr-icon-cpu:before {
  content: "\e950";
}
.krdr-icon-credit-card1:before {
  content: "\e951";
}
.krdr-icon-crop:before {
  content: "\e952";
}
.krdr-icon-crosshair:before {
  content: "\e953";
}
.krdr-icon-database:before {
  content: "\e954";
}
.krdr-icon-delete:before {
  content: "\e955";
}
.krdr-icon-disc:before {
  content: "\e956";
}
.krdr-icon-dollar-sign:before {
  content: "\e957";
}
.krdr-icon-download1:before {
  content: "\e958";
}
.krdr-icon-download-cloud:before {
  content: "\e959";
}
.krdr-icon-droplet:before {
  content: "\e95a";
}
.krdr-icon-edit:before {
  content: "\e95b";
}
.krdr-icon-edit-2:before {
  content: "\e95c";
}
.krdr-icon-edit-3:before {
  content: "\e95d";
}
.krdr-icon-external-link:before {
  content: "\e95e";
}
.krdr-icon-eye1:before {
  content: "\e95f";
}
.krdr-icon-eye-off:before {
  content: "\e960";
}
.krdr-icon-facebook:before {
  content: "\e961";
}
.krdr-icon-fast-forward:before {
  content: "\e962";
}
.krdr-icon-feather:before {
  content: "\e963";
}
.krdr-icon-figma:before {
  content: "\e964";
}
.krdr-icon-file:before {
  content: "\e965";
}
.krdr-icon-file-minus1:before {
  content: "\e966";
}
.krdr-icon-file-plus1:before {
  content: "\e967";
}
.krdr-icon-file-text:before {
  content: "\e968";
}
.krdr-icon-film1:before {
  content: "\e969";
}
.krdr-icon-filter:before {
  content: "\e96a";
}
.krdr-icon-flag:before {
  content: "\e96b";
}
.krdr-icon-folder1:before {
  content: "\e96c";
}
.krdr-icon-folder-minus1:before {
  content: "\e96d";
}
.krdr-icon-folder-plus1:before {
  content: "\e96e";
}
.krdr-icon-framer:before {
  content: "\e96f";
}
.krdr-icon-frown:before {
  content: "\e970";
}
.krdr-icon-gift:before {
  content: "\e971";
}
.krdr-icon-git-branch:before {
  content: "\e972";
}
.krdr-icon-git-commit:before {
  content: "\e973";
}
.krdr-icon-git-merge:before {
  content: "\e974";
}
.krdr-icon-git-pull-request:before {
  content: "\e975";
}
.krdr-icon-github:before {
  content: "\e976";
}
.krdr-icon-gitlab:before {
  content: "\e977";
}
.krdr-icon-globe:before {
  content: "\e978";
}
.krdr-icon-grid1:before {
  content: "\e979";
}
.krdr-icon-hard-drive:before {
  content: "\e97a";
}
.krdr-icon-hash:before {
  content: "\e97b";
}
.krdr-icon-headphones:before {
  content: "\e97c";
}
.krdr-icon-heart:before {
  content: "\e97d";
}
.krdr-icon-help-circle:before {
  content: "\e97e";
}
.krdr-icon-hexagon:before {
  content: "\e97f";
}
.krdr-icon-home:before {
  content: "\e980";
}
.krdr-icon-image:before {
  content: "\e981";
}
.krdr-icon-inbox:before {
  content: "\e982";
}
.krdr-icon-info:before {
  content: "\e983";
}
.krdr-icon-instagram1:before {
  content: "\e984";
}
.krdr-icon-italic:before {
  content: "\e985";
}
.krdr-icon-key:before {
  content: "\e986";
}
.krdr-icon-layers:before {
  content: "\e987";
}
.krdr-icon-layout:before {
  content: "\e988";
}
.krdr-icon-life-buoy:before {
  content: "\e989";
}
.krdr-icon-link:before {
  content: "\e98a";
}
.krdr-icon-link-2:before {
  content: "\e98b";
}
.krdr-icon-linkedin:before {
  content: "\e98c";
}
.krdr-icon-list1:before {
  content: "\e98d";
}
.krdr-icon-loader:before {
  content: "\e98e";
}
.krdr-icon-lock:before {
  content: "\e98f";
}
.krdr-icon-log-in:before {
  content: "\e990";
}
.krdr-icon-log-out:before {
  content: "\e991";
}
.krdr-icon-mail:before {
  content: "\e992";
}
.krdr-icon-map:before {
  content: "\e993";
}
.krdr-icon-map-pin:before {
  content: "\e994";
}
.krdr-icon-maximize:before {
  content: "\e995";
}
.krdr-icon-maximize-2:before {
  content: "\e996";
}
.krdr-icon-meh:before {
  content: "\e997";
}
.krdr-icon-menu1:before {
  content: "\e998";
}
.krdr-icon-message-circle:before {
  content: "\e999";
}
.krdr-icon-message-square:before {
  content: "\e99a";
}
.krdr-icon-mic1:before {
  content: "\e99b";
}
.krdr-icon-mic-off:before {
  content: "\e99c";
}
.krdr-icon-minimize:before {
  content: "\e99d";
}
.krdr-icon-minimize-2:before {
  content: "\e99e";
}
.krdr-icon-minus:before {
  content: "\e99f";
}
.krdr-icon-minus-circle:before {
  content: "\e9a0";
}
.krdr-icon-minus-square:before {
  content: "\e9a1";
}
.krdr-icon-monitor:before {
  content: "\e9a2";
}
.krdr-icon-moon:before {
  content: "\e9a3";
}
.krdr-icon-more-horizontal:before {
  content: "\e9a4";
}
.krdr-icon-more-vertical:before {
  content: "\e9a5";
}
.krdr-icon-mouse-pointer:before {
  content: "\e9a6";
}
.krdr-icon-move:before {
  content: "\e9a7";
}
.krdr-icon-music:before {
  content: "\e9a8";
}
.krdr-icon-navigation:before {
  content: "\e9a9";
}
.krdr-icon-navigation-2:before {
  content: "\e9aa";
}
.krdr-icon-octagon:before {
  content: "\e9ab";
}
.krdr-icon-package1:before {
  content: "\e9ac";
}
.krdr-icon-paperclip:before {
  content: "\e9ad";
}
.krdr-icon-pause1:before {
  content: "\e9ae";
}
.krdr-icon-pause-circle:before {
  content: "\e9af";
}
.krdr-icon-pen-tool:before {
  content: "\e9b0";
}
.krdr-icon-percent:before {
  content: "\e9b1";
}
.krdr-icon-phone1:before {
  content: "\e9b2";
}
.krdr-icon-phone-call:before {
  content: "\e9b3";
}
.krdr-icon-phone-forwarded:before {
  content: "\e9b4";
}
.krdr-icon-phone-incoming:before {
  content: "\e9b5";
}
.krdr-icon-phone-missed:before {
  content: "\e9b6";
}
.krdr-icon-phone-off:before {
  content: "\e9b7";
}
.krdr-icon-phone-outgoing:before {
  content: "\e9b8";
}
.krdr-icon-pie-chart:before {
  content: "\e9b9";
}
.krdr-icon-play1:before {
  content: "\e9ba";
}
.krdr-icon-play-circle:before {
  content: "\e9bb";
}
.krdr-icon-plus:before {
  content: "\e9bc";
}
.krdr-icon-plus-circle:before {
  content: "\e9bd";
}
.krdr-icon-plus-square:before {
  content: "\e9be";
}
.krdr-icon-pocket:before {
  content: "\e9bf";
}
.krdr-icon-power:before {
  content: "\e9c0";
}
.krdr-icon-printer1:before {
  content: "\e9c1";
}
.krdr-icon-radio:before {
  content: "\e9c2";
}
.krdr-icon-refresh-ccw:before {
  content: "\e9c3";
}
.krdr-icon-refresh-cw:before {
  content: "\e9c4";
}
.krdr-icon-repeat:before {
  content: "\e9c5";
}
.krdr-icon-rewind:before {
  content: "\e9c6";
}
.krdr-icon-rotate-ccw:before {
  content: "\e9c7";
}
.krdr-icon-rotate-cw:before {
  content: "\e9c8";
}
.krdr-icon-rss:before {
  content: "\e9c9";
}
.krdr-icon-save:before {
  content: "\e9ca";
}
.krdr-icon-scissors:before {
  content: "\e9cb";
}
.krdr-icon-search:before {
  content: "\e9cc";
}
.krdr-icon-send:before {
  content: "\e9cd";
}
.krdr-icon-server:before {
  content: "\e9ce";
}
.krdr-icon-settings:before {
  content: "\e9cf";
}
.krdr-icon-share:before {
  content: "\e9d0";
}
.krdr-icon-share-2:before {
  content: "\e9d1";
}
.krdr-icon-shield:before {
  content: "\e9d2";
}
.krdr-icon-shield-off:before {
  content: "\e9d3";
}
.krdr-icon-shopping-bag:before {
  content: "\e9d4";
}
.krdr-icon-shopping-cart:before {
  content: "\e9d5";
}
.krdr-icon-shuffle:before {
  content: "\e9d6";
}
.krdr-icon-sidebar:before {
  content: "\e9d7";
}
.krdr-icon-skip-back:before {
  content: "\e9d8";
}
.krdr-icon-skip-forward:before {
  content: "\e9d9";
}
.krdr-icon-slack:before {
  content: "\e9da";
}
.krdr-icon-slash:before {
  content: "\e9db";
}
.krdr-icon-sliders:before {
  content: "\e9dc";
}
.krdr-icon-smartphone:before {
  content: "\e9dd";
}
.krdr-icon-smile:before {
  content: "\e9de";
}
.krdr-icon-speaker:before {
  content: "\e9df";
}
.krdr-icon-square:before {
  content: "\e9e0";
}
.krdr-icon-star:before {
  content: "\e9e1";
}
.krdr-icon-stop-circle:before {
  content: "\e9e2";
}
.krdr-icon-sun:before {
  content: "\e9e3";
}
.krdr-icon-sunrise:before {
  content: "\e9e4";
}
.krdr-icon-sunset:before {
  content: "\e9e5";
}
.krdr-icon-tablet:before {
  content: "\e9e6";
}
.krdr-icon-tag:before {
  content: "\e9e7";
}
.krdr-icon-target:before {
  content: "\e9e8";
}
.krdr-icon-terminal:before {
  content: "\e9e9";
}
.krdr-icon-thermometer:before {
  content: "\e9ea";
}
.krdr-icon-thumbs-down:before {
  content: "\e9eb";
}
.krdr-icon-thumbs-up:before {
  content: "\e9ec";
}
.krdr-icon-toggle-left:before {
  content: "\e9ed";
}
.krdr-icon-toggle-right:before {
  content: "\e9ee";
}
.krdr-icon-tool:before {
  content: "\e9ef";
}
.krdr-icon-trash:before {
  content: "\e9f0";
}
.krdr-icon-trash-2:before {
  content: "\e9f1";
}
.krdr-icon-trello1:before {
  content: "\e9f2";
}
.krdr-icon-trending-down:before {
  content: "\e9f3";
}
.krdr-icon-trending-up:before {
  content: "\e9f4";
}
.krdr-icon-triangle:before {
  content: "\e9f5";
}
.krdr-icon-truck:before {
  content: "\e9f6";
}
.krdr-icon-tv:before {
  content: "\e9f7";
}
.krdr-icon-twitch:before {
  content: "\e9f8";
}
.krdr-icon-twitter:before {
  content: "\e9f9";
}
.krdr-icon-type:before {
  content: "\e9fa";
}
.krdr-icon-umbrella:before {
  content: "\e9fb";
}
.krdr-icon-underline:before {
  content: "\e9fc";
}
.krdr-icon-unlock:before {
  content: "\e9fd";
}
.krdr-icon-upload1:before {
  content: "\e9fe";
}
.krdr-icon-upload-cloud:before {
  content: "\e9ff";
}
.krdr-icon-user:before {
  content: "\ea00";
}
.krdr-icon-user-check:before {
  content: "\ea01";
}
.krdr-icon-user-minus:before {
  content: "\ea02";
}
.krdr-icon-user-plus:before {
  content: "\ea03";
}
.krdr-icon-user-x:before {
  content: "\ea04";
}
.krdr-icon-users:before {
  content: "\ea05";
}
.krdr-icon-video:before {
  content: "\ea06";
}
.krdr-icon-video-off:before {
  content: "\ea07";
}
.krdr-icon-voicemail:before {
  content: "\ea08";
}
.krdr-icon-volume:before {
  content: "\ea09";
}
.krdr-icon-volume-1:before {
  content: "\ea0a";
}
.krdr-icon-volume-2:before {
  content: "\ea0b";
}
.krdr-icon-volume-x:before {
  content: "\ea0c";
}
.krdr-icon-watch:before {
  content: "\ea0d";
}
.krdr-icon-wifi:before {
  content: "\ea0e";
}
.krdr-icon-wifi-off:before {
  content: "\ea0f";
}
.krdr-icon-wind:before {
  content: "\ea10";
}
.krdr-icon-x:before {
  content: "\ea11";
}
.krdr-icon-x-circle:before {
  content: "\ea12";
}
.krdr-icon-x-octagon:before {
  content: "\ea13";
}
.krdr-icon-x-square:before {
  content: "\ea14";
}
.krdr-icon-youtube:before {
  content: "\ea15";
}
.krdr-icon-zap:before {
  content: "\ea16";
}
.krdr-icon-zap-off:before {
  content: "\ea17";
}
.krdr-icon-zoom-in:before {
  content: "\ea18";
}
.krdr-icon-zoom-out:before {
  content: "\ea19";
}
.krdr-icon-home6:before {
  content: "\ea1a";
}
.krdr-icon-pencil3:before {
  content: "\ea1b";
}
.krdr-icon-eraser2:before {
  content: "\ea1c";
}
.krdr-icon-pen5:before {
  content: "\ea1d";
}
.krdr-icon-brush:before {
  content: "\ea1e";
}
.krdr-icon-palette:before {
  content: "\ea1f";
}
.krdr-icon-palette2:before {
  content: "\ea20";
}
.krdr-icon-color-sampler:before {
  content: "\ea21";
}
.krdr-icon-toggle:before {
  content: "\ea22";
}
.krdr-icon-bucket:before {
  content: "\ea23";
}
.krdr-icon-bucket2:before {
  content: "\ea24";
}
.krdr-icon-eyedropper:before {
  content: "\ea25";
}
.krdr-icon-droplet2:before {
  content: "\ea26";
}
.krdr-icon-paint-format:before {
  content: "\ea27";
}
.krdr-icon-image2:before {
  content: "\ea28";
}
.krdr-icon-image-compare:before {
  content: "\ea29";
}
.krdr-icon-images2:before {
  content: "\ea2a";
}
.krdr-icon-image4:before {
  content: "\ea2b";
}
.krdr-icon-camera:before {
  content: "\ea2c";
}
.krdr-icon-camera2:before {
  content: "\ea2d";
}
.krdr-icon-camera3:before {
  content: "\ea2e";
}
.krdr-icon-headset:before {
  content: "\ea2f";
}
.krdr-icon-play:before {
  content: "\ea30";
}
.krdr-icon-play2:before {
  content: "\ea31";
}
.krdr-icon-movie:before {
  content: "\ea32";
}
.krdr-icon-film:before {
  content: "\ea33";
}
.krdr-icon-film4:before {
  content: "\ea34";
}
.krdr-icon-video-camera2:before {
  content: "\ea35";
}
.krdr-icon-recording:before {
  content: "\ea36";
}
.krdr-icon-dice:before {
  content: "\ea37";
}
.krdr-icon-bullhorn:before {
  content: "\ea38";
}
.krdr-icon-new:before {
  content: "\ea39";
}
.krdr-icon-connection:before {
  content: "\ea3a";
}
.krdr-icon-station2:before {
  content: "\ea3b";
}
.krdr-icon-antenna:before {
  content: "\ea3c";
}
.krdr-icon-satellite-dish2:before {
  content: "\ea3d";
}
.krdr-icon-antenna2:before {
  content: "\ea3e";
}
.krdr-icon-mic:before {
  content: "\ea3f";
}
.krdr-icon-mic3:before {
  content: "\ea40";
}
.krdr-icon-archive:before {
  content: "\ea41";
}
.krdr-icon-files-empty:before {
  content: "\ea42";
}
.krdr-icon-file-plus:before {
  content: "\ea43";
}
.krdr-icon-file-minus:before {
  content: "\ea44";
}
.krdr-icon-file-check:before {
  content: "\ea45";
}
.krdr-icon-file-eye:before {
  content: "\ea46";
}
.krdr-icon-file-text2:before {
  content: "\ea47";
}
.krdr-icon-file-picture:before {
  content: "\ea48";
}
.krdr-icon-file-music:before {
  content: "\ea49";
}
.krdr-icon-file-play:before {
  content: "\ea4a";
}
.krdr-icon-file-video:before {
  content: "\ea4b";
}
.krdr-icon-file-zip:before {
  content: "\ea4c";
}
.krdr-icon-file-zip2:before {
  content: "\ea4d";
}
.krdr-icon-file-xml2:before {
  content: "\ea4e";
}
.krdr-icon-file-css:before {
  content: "\ea4f";
}
.krdr-icon-file-presentation:before {
  content: "\ea50";
}
.krdr-icon-file-stats:before {
  content: "\ea51";
}
.krdr-icon-file-locked:before {
  content: "\ea52";
}
.krdr-icon-file-spreadsheet:before {
  content: "\ea53";
}
.krdr-icon-copy3:before {
  content: "\ea54";
}
.krdr-icon-copy4:before {
  content: "\ea55";
}
.krdr-icon-paste:before {
  content: "\ea56";
}
.krdr-icon-paste4:before {
  content: "\ea57";
}
.krdr-icon-stack:before {
  content: "\ea58";
}
.krdr-icon-stack2:before {
  content: "\ea59";
}
.krdr-icon-stack3:before {
  content: "\ea5a";
}
.krdr-icon-folder:before {
  content: "\ea5b";
}
.krdr-icon-folder-search:before {
  content: "\ea5c";
}
.krdr-icon-folder-download:before {
  content: "\ea5d";
}
.krdr-icon-folder-upload:before {
  content: "\ea5e";
}
.krdr-icon-folder-plus:before {
  content: "\ea5f";
}
.krdr-icon-folder-plus2:before {
  content: "\ea60";
}
.krdr-icon-folder-minus:before {
  content: "\ea61";
}
.krdr-icon-folder-minus2:before {
  content: "\ea62";
}
.krdr-icon-folder-check:before {
  content: "\ea63";
}
.krdr-icon-folder-heart:before {
  content: "\ea64";
}
.krdr-icon-folder-remove:before {
  content: "\ea65";
}
.krdr-icon-folder2:before {
  content: "\ea66";
}
.krdr-icon-folder-open:before {
  content: "\ea67";
}
.krdr-icon-folder3:before {
  content: "\ea68";
}
.krdr-icon-folder4:before {
  content: "\ea69";
}
.krdr-icon-folder5:before {
  content: "\ea6a";
}
.krdr-icon-folder-open2:before {
  content: "\ea6b";
}
.krdr-icon-folder6:before {
  content: "\ea6c";
}
.krdr-icon-folder-open3:before {
  content: "\ea6d";
}
.krdr-icon-certificate:before {
  content: "\ea6e";
}
.krdr-icon-price-tags2:before {
  content: "\ea6f";
}
.krdr-icon-price-tags4:before {
  content: "\ea70";
}
.krdr-icon-barcode:before {
  content: "\ea71";
}
.krdr-icon-barcode2:before {
  content: "\ea72";
}
.krdr-icon-qrcode:before {
  content: "\ea73";
}
.krdr-icon-store2:before {
  content: "\ea74";
}
.krdr-icon-basket:before {
  content: "\ea75";
}
.krdr-icon-bag:before {
  content: "\ea76";
}
.krdr-icon-coin-dollar:before {
  content: "\ea77";
}
.krdr-icon-coin-euro:before {
  content: "\ea78";
}
.krdr-icon-coin-pound:before {
  content: "\ea79";
}
.krdr-icon-coin-yen:before {
  content: "\ea7a";
}
.krdr-icon-piggy-bank:before {
  content: "\ea7b";
}
.krdr-icon-wallet:before {
  content: "\ea7c";
}
.krdr-icon-cash:before {
  content: "\ea7d";
}
.krdr-icon-cash2:before {
  content: "\ea7e";
}
.krdr-icon-cash4:before {
  content: "\ea7f";
}
.krdr-icon-credit-card:before {
  content: "\ea80";
}
.krdr-icon-chip:before {
  content: "\ea81";
}
.krdr-icon-lifebuoy:before {
  content: "\ea82";
}
.krdr-icon-phone:before {
  content: "\ea83";
}
.krdr-icon-phone2:before {
  content: "\ea84";
}
.krdr-icon-phone-slash:before {
  content: "\ea85";
}
.krdr-icon-phone-wave:before {
  content: "\ea86";
}
.krdr-icon-phone3:before {
  content: "\ea87";
}
.krdr-icon-phone-slash2:before {
  content: "\ea88";
}
.krdr-icon-phone-wave2:before {
  content: "\ea89";
}
.krdr-icon-phone-hang-up:before {
  content: "\ea8a";
}
.krdr-icon-phone-hang-up2:before {
  content: "\ea8b";
}
.krdr-icon-address-book2:before {
  content: "\ea8c";
}
.krdr-icon-address-book3:before {
  content: "\ea8d";
}
.krdr-icon-at-sign:before {
  content: "\ea8e";
}
.krdr-icon-envelop2:before {
  content: "\ea8f";
}
.krdr-icon-mailbox:before {
  content: "\ea90";
}
.krdr-icon-pushpin:before {
  content: "\ea91";
}
.krdr-icon-pushpin2:before {
  content: "\ea92";
}
.krdr-icon-location:before {
  content: "\ea93";
}
.krdr-icon-location2:before {
  content: "\ea94";
}
.krdr-icon-location3:before {
  content: "\ea95";
}
.krdr-icon-location4:before {
  content: "\ea96";
}
.krdr-icon-location5:before {
  content: "\ea97";
}
.krdr-icon-location6:before {
  content: "\ea98";
}
.krdr-icon-compass4:before {
  content: "\ea99";
}
.krdr-icon-compass5:before {
  content: "\ea9a";
}
.krdr-icon-compass6:before {
  content: "\ea9b";
}
.krdr-icon-map2:before {
  content: "\ea9c";
}
.krdr-icon-map3:before {
  content: "\ea9d";
}
.krdr-icon-map5:before {
  content: "\ea9e";
}
.krdr-icon-direction:before {
  content: "\ea9f";
}
.krdr-icon-history:before {
  content: "\eaa0";
}
.krdr-icon-clock:before {
  content: "\eaa1";
}
.krdr-icon-clock3:before {
  content: "\eaa2";
}
.krdr-icon-watch2:before {
  content: "\eaa3";
}
.krdr-icon-alarm-add:before {
  content: "\eaa4";
}
.krdr-icon-alarm-check:before {
  content: "\eaa5";
}
.krdr-icon-alarm-cancel:before {
  content: "\eaa6";
}
.krdr-icon-calendar2:before {
  content: "\eaa7";
}
.krdr-icon-calendar5:before {
  content: "\eaa8";
}
.krdr-icon-printer:before {
  content: "\eaa9";
}
.krdr-icon-display2:before {
  content: "\eaaa";
}
.krdr-icon-display3:before {
  content: "\eaab";
}
.krdr-icon-mobile:before {
  content: "\eaac";
}
.krdr-icon-mobile2:before {
  content: "\eaad";
}
.krdr-icon-drawer:before {
  content: "\eaae";
}
.krdr-icon-drawer3:before {
  content: "\eaaf";
}
.krdr-icon-download:before {
  content: "\eab0";
}
.krdr-icon-upload:before {
  content: "\eab1";
}
.krdr-icon-undo:before {
  content: "\eab2";
}
.krdr-icon-redo:before {
  content: "\eab3";
}
.krdr-icon-align-left:before {
  content: "\eab9";
}
.krdr-icon-align-center-horizontal:before {
  content: "\eaba";
}
.krdr-icon-align-right:before {
  content: "\eabb";
}
.krdr-icon-align-top:before {
  content: "\eabc";
}
.krdr-icon-align-center-vertical:before {
  content: "\eabd";
}
.krdr-icon-align-bottom:before {
  content: "\eabe";
}
.krdr-icon-bubble2:before {
  content: "\eac7";
}
.krdr-icon-bubbles3:before {
  content: "\eac8";
}
.krdr-icon-bubbles4:before {
  content: "\eac9";
}
.krdr-icon-bubble-notification:before {
  content: "\eaca";
}
.krdr-icon-spinner3:before {
  content: "\eb24";
}
.krdr-icon-spinner4:before {
  content: "\eb25";
}
.krdr-icon-spinner5:before {
  content: "\eb26";
}
.krdr-icon-spinner6:before {
  content: "\eb27";
}
.krdr-icon-spinner7:before {
  content: "\eb28";
}
.krdr-icon-spinner8:before {
  content: "\eb29";
}
.krdr-icon-spinner9:before {
  content: "\eb2a";
}
.krdr-icon-spinner10:before {
  content: "\eb2b";
}
.krdr-icon-search5:before {
  content: "\eb3a";
}
.krdr-icon-search6:before {
  content: "\eb3b";
}
.krdr-icon-enlarge:before {
  content: "\eb3c";
}
.krdr-icon-shrink:before {
  content: "\eb3d";
}
.krdr-icon-enlarge2:before {
  content: "\eb3e";
}
.krdr-icon-shrink2:before {
  content: "\eb3f";
}
.krdr-icon-enlarge3:before {
  content: "\eb40";
}
.krdr-icon-shrink3:before {
  content: "\eb41";
}
.krdr-icon-enlarge4:before {
  content: "\eb42";
}
.krdr-icon-shrink4:before {
  content: "\eb43";
}
.krdr-icon-enlarge6:before {
  content: "\eb46";
}
.krdr-icon-shrink6:before {
  content: "\eb47";
}
.krdr-icon-enlarge7:before {
  content: "\eb48";
}
.krdr-icon-shrink7:before {
  content: "\eb49";
}
.krdr-icon-key3:before {
  content: "\eb4c";
}
.krdr-icon-key4:before {
  content: "\eb4d";
}
.krdr-icon-wrench2:before {
  content: "\eb59";
}
.krdr-icon-equalizer:before {
  content: "\eb5b";
}
.krdr-icon-equalizer2:before {
  content: "\eb5c";
}
.krdr-icon-equalizer3:before {
  content: "\eb5d";
}
.krdr-icon-equalizer4:before {
  content: "\eb5e";
}
.krdr-icon-cog:before {
  content: "\eb5f";
}
.krdr-icon-cogs:before {
  content: "\eb60";
}
.krdr-icon-cog2:before {
  content: "\eb61";
}
.krdr-icon-cog3:before {
  content: "\eb62";
}
.krdr-icon-screwdriver2:before {
  content: "\eb6c";
}
.krdr-icon-magic-wand:before {
  content: "\eb6d";
}
.krdr-icon-aid-kit2:before {
  content: "\eb72";
}
.krdr-icon-stethoscope:before {
  content: "\eb73";
}
.krdr-icon-ambulance:before {
  content: "\eb74";
}
.krdr-icon-syringe2:before {
  content: "\eb7b";
}
.krdr-icon-pill:before {
  content: "\eb7c";
}
.krdr-icon-construction:before {
  content: "\eb7d";
}
.krdr-icon-traffic-cone:before {
  content: "\eb7e";
}
.krdr-icon-traffic-lights:before {
  content: "\eb7f";
}
.krdr-icon-pie-chart3:before {
  content: "\eb82";
}
.krdr-icon-pie-chart4:before {
  content: "\eb83";
}
.krdr-icon-pie-chart5:before {
  content: "\eb84";
}
.krdr-icon-stats-dots:before {
  content: "\eb87";
}
.krdr-icon-stats-bars:before {
  content: "\eb88";
}
.krdr-icon-pie-chart8:before {
  content: "\eb89";
}
.krdr-icon-stats-bars2:before {
  content: "\eb8a";
}
.krdr-icon-stats-bars3:before {
  content: "\eb8b";
}
.krdr-icon-stats-bars4:before {
  content: "\eb8c";
}
.krdr-icon-stats-bars5:before {
  content: "\eb8d";
}
.krdr-icon-stats-bars6:before {
  content: "\eb8e";
}
.krdr-icon-chart:before {
  content: "\eb8f";
}
.krdr-icon-stats-growth:before {
  content: "\eb90";
}
.krdr-icon-stats-decline:before {
  content: "\eb91";
}
.krdr-icon-stats-growth2:before {
  content: "\eb92";
}
.krdr-icon-stats-decline2:before {
  content: "\eb93";
}
.krdr-icon-stairs-up:before {
  content: "\eb94";
}
.krdr-icon-stairs-down:before {
  content: "\eb95";
}
.krdr-icon-stairs:before {
  content: "\eb96";
}
.krdr-icon-stairs2:before {
  content: "\eb97";
}
.krdr-icon-ladder:before {
  content: "\eb98";
}
.krdr-icon-rating:before {
  content: "\eb99";
}
.krdr-icon-rating2:before {
  content: "\eb9a";
}
.krdr-icon-rating3:before {
  content: "\eb9b";
}
.krdr-icon-cake:before {
  content: "\eb9c";
}
.krdr-icon-podium:before {
  content: "\eb9d";
}
.krdr-icon-diamond2:before {
  content: "\ebaa";
}
.krdr-icon-trophy4:before {
  content: "\ebab";
}
.krdr-icon-coffee:before {
  content: "\ebcb";
}
.krdr-icon-cactus:before {
  content: "\ebd6";
}
.krdr-icon-mountains:before {
  content: "\ebd7";
}
.krdr-icon-paw:before {
  content: "\ebd8";
}
.krdr-icon-toiletpaper:before {
  content: "\ebfc";
}
.krdr-icon-bin3:before {
  content: "\ebff";
}
.krdr-icon-bin4:before {
  content: "\ec00";
}
.krdr-icon-briefcase2:before {
  content: "\ec03";
}
.krdr-icon-cube:before {
  content: "\ec18";
}
.krdr-icon-cube2:before {
  content: "\ec19";
}
.krdr-icon-cube3:before {
  content: "\ec1a";
}
.krdr-icon-cube4:before {
  content: "\ec1b";
}
.krdr-icon-pyramid:before {
  content: "\ec1c";
}
.krdr-icon-pyramid2:before {
  content: "\ec1d";
}
.krdr-icon-package:before {
  content: "\ec1e";
}
.krdr-icon-puzzle2:before {
  content: "\ec20";
}
.krdr-icon-puzzle3:before {
  content: "\ec21";
}
.krdr-icon-puzzle4:before {
  content: "\ec22";
}
.krdr-icon-list-numbered:before {
  content: "\ec58";
}
.krdr-icon-list:before {
  content: "\ec59";
}
.krdr-icon-list2:before {
  content: "\ec5a";
}
.krdr-icon-more:before {
  content: "\ec5b";
}
.krdr-icon-more2:before {
  content: "\ec5c";
}
.krdr-icon-grid:before {
  content: "\ec5d";
}
.krdr-icon-grid2:before {
  content: "\ec5e";
}
.krdr-icon-grid3:before {
  content: "\ec5f";
}
.krdr-icon-grid4:before {
  content: "\ec60";
}
.krdr-icon-grid5:before {
  content: "\ec61";
}
.krdr-icon-grid6:before {
  content: "\ec62";
}
.krdr-icon-grid7:before {
  content: "\ec63";
}
.krdr-icon-tree7:before {
  content: "\ec66";
}
.krdr-icon-lan:before {
  content: "\ec67";
}
.krdr-icon-lan2:before {
  content: "\ec68";
}
.krdr-icon-lan3:before {
  content: "\ec69";
}
.krdr-icon-menu:before {
  content: "\ec6a";
}
.krdr-icon-download9:before {
  content: "\ec8d";
}
.krdr-icon-upload9:before {
  content: "\ec8e";
}
.krdr-icon-download10:before {
  content: "\ec8f";
}
.krdr-icon-upload10:before {
  content: "\ec90";
}
.krdr-icon-sphere:before {
  content: "\ec91";
}
.krdr-icon-sphere2:before {
  content: "\ec92";
}
.krdr-icon-planet:before {
  content: "\ec94";
}
.krdr-icon-planet2:before {
  content: "\ec95";
}
.krdr-icon-earth:before {
  content: "\ec96";
}
.krdr-icon-earth2:before {
  content: "\ec97";
}
.krdr-icon-earth3:before {
  content: "\ec98";
}
.krdr-icon-eye:before {
  content: "\ecae";
}
.krdr-icon-eye-blocked:before {
  content: "\ecb1";
}
.krdr-icon-eye2:before {
  content: "\ecb2";
}
.krdr-icon-eye-blocked2:before {
  content: "\ecb3";
}
.krdr-icon-eye3:before {
  content: "\ecb4";
}
.krdr-icon-eye-blocked3:before {
  content: "\ecb5";
}
.krdr-icon-cancel-circle:before {
  content: "\ed65";
}
.krdr-icon-cancel-circle2:before {
  content: "\ed66";
}
.krdr-icon-enter3:before {
  content: "\ed7a";
}
.krdr-icon-exit3:before {
  content: "\ed7b";
}
.krdr-icon-wall:before {
  content: "\ed7c";
}
.krdr-icon-fence:before {
  content: "\ed7d";
}
.krdr-icon-play3:before {
  content: "\ed7e";
}
.krdr-icon-pause:before {
  content: "\ed7f";
}
.krdr-icon-stop:before {
  content: "\ed80";
}
.krdr-icon-previous:before {
  content: "\ed81";
}
.krdr-icon-next:before {
  content: "\ed82";
}
.krdr-icon-backward:before {
  content: "\ed83";
}
.krdr-icon-forward2:before {
  content: "\ed84";
}
.krdr-icon-play4:before {
  content: "\ed85";
}
.krdr-icon-pause2:before {
  content: "\ed86";
}
.krdr-icon-stop2:before {
  content: "\ed87";
}
.krdr-icon-loop2:before {
  content: "\eda9";
}
.krdr-icon-loop3:before {
  content: "\edaa";
}
.krdr-icon-infinite:before {
  content: "\edac";
}
.krdr-icon-infinite2:before {
  content: "\edad";
}
.krdr-icon-circle-up:before {
  content: "\ede3";
}
.krdr-icon-circle-right:before {
  content: "\ede4";
}
.krdr-icon-circle-down:before {
  content: "\ede5";
}
.krdr-icon-circle-left:before {
  content: "\ede6";
}
.krdr-icon-circle-up2:before {
  content: "\ede7";
}
.krdr-icon-circle-right2:before {
  content: "\ede8";
}
.krdr-icon-circle-down2:before {
  content: "\ede9";
}
.krdr-icon-circle-left2:before {
  content: "\edea";
}
.krdr-icon-circle-up-left:before {
  content: "\edeb";
}
.krdr-icon-circle-up3:before {
  content: "\edec";
}
.krdr-icon-circle-up-right:before {
  content: "\eded";
}
.krdr-icon-circle-right3:before {
  content: "\edee";
}
.krdr-icon-circle-down-right:before {
  content: "\edef";
}
.krdr-icon-circle-down3:before {
  content: "\edf0";
}
.krdr-icon-circle-down-left:before {
  content: "\edf1";
}
.krdr-icon-circle-left3:before {
  content: "\edf2";
}
.krdr-icon-move-up:before {
  content: "\ee4a";
}
.krdr-icon-move-down:before {
  content: "\ee4b";
}
.krdr-icon-sort-alpha-asc:before {
  content: "\ee4c";
}
.krdr-icon-sort-alpha-desc:before {
  content: "\ee4d";
}
.krdr-icon-sort-numeric-asc:before {
  content: "\ee4e";
}
.krdr-icon-sort-numberic-desc:before {
  content: "\ee4f";
}
.krdr-icon-sort-amount-asc:before {
  content: "\ee50";
}
.krdr-icon-sort-amount-desc:before {
  content: "\ee51";
}
.krdr-icon-insert-template:before {
  content: "\eeb0";
}
.krdr-icon-popout:before {
  content: "\eecb";
}
.krdr-icon-facebook2:before {
  content: "\eef0";
}
.krdr-icon-instagram:before {
  content: "\eef1";
}
.krdr-icon-whatsapp:before {
  content: "\eef2";
}
.krdr-icon-dropbox:before {
  content: "\ef0d";
}
.krdr-icon-trello:before {
  content: "\ef12";
}
.krdr-icon-tux:before {
  content: "\ef1c";
}
.krdr-icon-appleinc:before {
  content: "\ef1d";
}
.krdr-icon-finder:before {
  content: "\ef1e";
}
.krdr-icon-android:before {
  content: "\ef1f";
}
.krdr-icon-windows:before {
  content: "\ef20";
}
.krdr-icon-windows8:before {
  content: "\ef21";
}
.krdr-icon-linkedin2:before {
  content: "\ef29";
}
.krdr-icon-chrome:before {
  content: "\ef38";
}
.krdr-icon-firefox:before {
  content: "\ef39";
}
.krdr-icon-IE:before {
  content: "\ef3a";
}
.krdr-icon-edge:before {
  content: "\ef3b";
}
.krdr-icon-safari:before {
  content: "\ef3c";
}
.krdr-icon-opera:before {
  content: "\ef3d";
}
.krdr-icon-file-pdf:before {
  content: "\ef3e";
}
.krdr-icon-file-openoffice:before {
  content: "\ef3f";
}
.krdr-icon-file-word:before {
  content: "\ef40";
}
.krdr-icon-file-excel:before {
  content: "\ef41";
}
.krdr-icon-libreoffice:before {
  content: "\ef42";
}
.krdr-icon-html-five:before {
  content: "\ef43";
}
.krdr-icon-html-five2:before {
  content: "\ef44";
}
.krdr-icon-css3:before {
  content: "\ef45";
}
.krdr-icon-git:before {
  content: "\ef46";
}
.krdr-icon-codepen:before {
  content: "\ef47";
}
.krdr-icon-svg:before {
  content: "\ef48";
}
