<div class="confirm-modal no-select">
  <div class="info-box">
    <div class="icon-wrapper">
      <i [class]="data.icon"></i>
    </div>
    <div class="text-box">
      <div class="title">{{data.title}}</div>
      <div class="sub-title">{{data.subTitle}}</div>

      <app-checkbox [(model)]="agreed" *ngIf="data.agreement">{{data.agreement}}</app-checkbox>

      <div class="options" *ngIf="data.options?.length">

        <app-radio-button [(model)]="option" [items]="data.options!">
<!--          <div class="option-title">{{opt.title}}</div>-->
<!--          <div class="option-sub-title">{{opt.subTitle}}</div>-->
        </app-radio-button>

<!--        <mat-radio-group [(ngModel)]="option">-->
<!--          <mat-radio-button class="radio-option-wrapper"-->
<!--                            [value]="option.value"-->
<!--                            *ngFor="let option of data.options">-->
<!--            <div class="option-title">{{option.title}}</div>-->
<!--            <div class="option-sub-title">{{option.subTitle}}</div>-->
<!--          </mat-radio-button>-->
<!--        </mat-radio-group>-->
      </div>

      <div class="description">{{data.description}}</div>
    </div>
  </div>
  <div class="action-box">
    <button [disabled]="(!agreed && data.agreementRequired) || (option === undefined && data.options?.length)"
            (click)="onAgree($event)"
            class="action-btn">
      {{ data.confirmLabel }}
    </button>
    <button (click)="onCancel($event)" class="cancel-btn">
      {{ data.cancelLabel }}
    </button>
  </div>
</div>
