<div class="app-landing-dialog">
  <div class="header">Welcome to Kerdar Workflow engine</div>
  <div class="action-bar">
    <div class="sidebar">
      <div class="logo-wrapper">
        <i class="krdr-icon-pyramid2"></i>
      </div>
      <div class="info-wrapper">
        <div class="title">Kerdar Workflow</div>
        <div class="sub-title">2022.10.20</div>
      </div>
    </div>
    <div class="content">
      <div class="search-wrapper">
        <i class="krdr-icon-search"></i>
        <input type="text" placeholder="Search applications">
      </div>
      <div class="actions">
        <button>
          <i class="krdr-icon-magic-wand"></i>
          <span>New Application</span>
        </button>
        <button>
          <i class="krdr-icon-download10"></i>
          <span>Import Applications</span>
        </button>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="sidebar">
      <ul>
        <li class="selected">Applications</li>
        <li>Settings</li>
        <li>Help</li>
      </ul>
    </div>
    <div class="content">

      <div class="item selected">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

      <div class="item">
        <div class="image-wrapper">
          <i class="krdr-icon-stack2"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        </div>
        <div class="action-wrapper">
          <i class="krdr-icon-cog"></i>
        </div>
      </div>

    </div>
  </div>
</div>
