<div class="app-wizard">
  <div *ngIf="header" class="header">{{header}}</div>
  <div class="action-bar">
    <div class="sidebar">
      <div class="logo-wrapper">
        <i class="ti ti-pyramid"></i>
      </div>
      <div class="info-wrapper">
        <div class="title">Kerdar Workflow</div>
        <div class="sub-title">2022.10.20</div>
      </div>
    </div>
    <div *ngIf="showActionBar" class="content">
      <div *ngIf="showFilter" class="search-wrapper">
        <i class="ti ti-search"></i>
        <input type="text" [(ngModel)]="filterText" [placeholder]="searchPlaceHolder">
      </div>
      <div class="actions">
        <button *ngFor="let btn of barActions">
          <i [class]="btn.icon"></i>
          <span>{{btn.title}}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div *ngIf="showSidebar" class="sidebar">
      <ul>
        <li *ngFor="let side of sideActions"
            (click)="pickSide(side)"
            [class.selected]="side.selected">{{side.title}}</li>
      </ul>
    </div>
    <div class="content">

      <div class="item"
           *ngFor="let main of mainActions"
           (click)="pickMain(main)">
        <div class="image-wrapper">
          <i [class]="main.icon"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">{{ main.title }}</div>
          <div class="sub-title">{{ main.subTitle }}</div>
        </div>
        <div class="action-wrapper">
          <i class="ti ti-settings"></i>
        </div>
      </div>

    </div>
  </div>
</div>
