<div class="workflow-designer-node-modal">
  <div class="modal-header">
    <ul>
      <li class="selected success">
        <i class="ti ti-puzzle"></i>
        <span>Components</span>
        <div class="highlight"></div>
      </li>
      <li class="info">
        <i class="ti ti-cpu"></i>
        <span>Primitives</span>
        <div class="highlight"></div>
      </li>
      <li class="warning">
        <i class="ti ti-activity"></i>
        <span>Events</span>
        <div class="highlight"></div>
      </li>
      <li class="primary">
        <i class="ti ti-arrows-split-2"></i>
        <span>Workflows</span>
        <div class="highlight"></div>
      </li>
    </ul>
  </div>
  <div class="modal-content">
    <div class="filter">
      <input type="text" placeholder="Search components...">
    </div>
    <div class="items">

      <div class="item selected">

        <div class="image-wrapper">
          <i class="ti ti-puzzle"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Component title</div>
        </div>
        <div class="module-wrapper">
          <div class="name">Omni Channel</div>
        </div>

      </div>
      <div class="item">

        <div class="image-wrapper">
          <i class="ti ti-puzzle"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Component title</div>
        </div>
        <div class="module-wrapper">
          <div class="name">Omni Channel</div>
        </div>

      </div>
      <div class="item">

        <div class="image-wrapper">
          <i class="ti ti-puzzle"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Component title</div>
        </div>
        <div class="module-wrapper">
          <div class="name">Omni Channel</div>
        </div>

      </div>
      <div class="item">

        <div class="image-wrapper">
          <i class="ti ti-puzzle"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Component title</div>
        </div>
        <div class="module-wrapper">
          <div class="name">Omni Channel</div>
        </div>

      </div>
      <div class="item">

        <div class="image-wrapper">
          <i class="ti ti-puzzle"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Component title</div>
        </div>
        <div class="module-wrapper">
          <div class="name">Omni Channel</div>
        </div>

      </div>
      <div class="item">

        <div class="image-wrapper">
          <i class="ti ti-puzzle"></i>
        </div>
        <div class="info-wrapper">
          <div class="title">Component title</div>
        </div>
        <div class="module-wrapper">
          <div class="name">Omni Channel</div>
        </div>

      </div>
    </div>
  </div>
</div>
