::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--app-theme-color-12);
}

::-webkit-scrollbar-thumb {
  background: var(--app-theme-color-9);
  -webkit-box-shadow: 0px 1px 2px var(--app-theme-color-14);
}

::-webkit-scrollbar-corner {
  background: var(--app-theme-color-12);
}
* {outline: none;}
html, body { height: 100%; }
body {
  margin: 0;
  background: var(--app-theme-color-2);
  color: var(--app-theme-color-13);
  font-family: 'Ubuntu', sans-serif !important;
}
span, input {
  font-family: 'Ubuntu', sans-serif !important;
}

.landing-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.force-gpu {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-option-wrapper {
  .option-title {
    font-size: 14px;
    white-space: normal;
  }
  .option-sub-title {
    font-size: 12px;
    color: var(--app-theme-color-9);
    white-space: normal;
  }
}
