body {
  background: var(--app-theme-color-1);
  color: var(--app-theme-color-13);
}

.landing-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
