html[data-theme="light"] {
  --app-primary-color: #c93165;
  --app-success-color: #619a5c;
  --app-danger-color: #b75b54;
  --app-warning-color: #d68b4a;

  --app-secondary-color: #244172;
  --app-secondary-color-shade-1: #eff6fd;
  --app-secondary-color-shade-2: #3e7be5;
  --app-secondary-color-shade-3: #5291bf;

  --app-theme-color-0: #ffffff;
  --app-theme-color-1: #efefef;
  //--app-theme-color-2: #2b2b2b;
  --app-theme-color-3: #f2f2f2;
  //--app-theme-color-4: #383838;
  //--app-theme-color-5: #424242;
  --app-theme-color-6: #c4c4c4;
  --app-theme-color-7: #d1d1d1;
  //--app-theme-color-8: #6e6e6e;
  --app-theme-color-9: #9e9e9e;
  --app-theme-color-10: #7a8287;
  --app-theme-color-11: #808080;
  --app-theme-color-12: #323333;
  --app-theme-color-13: #2b2b2b;
  --app-theme-color-14: #000000;
  --app-theme-color-15: #fff;
  --app-theme-color-16: #e6e6e6;
  --app-theme-color-17: #999999;
}
