html[data-theme="dark"] {
  --app-body-bg-color: #2b2b2b;
  --app-body-bg-color-2: #292929;
  --app-body-txt-color: #efefef;

  --app-set-1-logo-color-1: #c93165;
  --app-set-1-brdr-color-1: #7c7d7d;
  --app-set-1-brdr-color-2: #5a5b5c;
  --app-set-1-bg-color: #323333;
  --app-set-1-txt-color: #a3a3a3;

  --app-set-1-icon-color-1: #7a8287;
  --app-set-1-icon-color-2: #d68b4a;
  --app-set-1-btn-brdr-color-1: #525252;
  --app-set-1-btn-brdr-color-2: #383838;
  --app-set-1-btn-bg-color-1: #424242;
  --app-set-1-btn-txt-color-1: #dfdfe0;
  --app-set-1-btn-txt-color-2: #808080;
  --app-set-1-btn-bg-color-2: #3e7be5;
  --app-set-1-btn-bg-color-5: #244172;
  --app-set-1-btn-bg-color-3: #304057;
  --app-set-1-btn-txt-color-3: #f9fcff;
  --app-set-1-btn-txt-color-4: #6e6e6e;

  --app-set-2-icon-color-1: #5291bf;
  --app-set-2-icon-color-2: #619a5c;
  --app-set-2-icon-color-3: #b75b54;


  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: var(--app-set-1-txt-color);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--app-set-1-brdr-color-1);
    -webkit-box-shadow: 0px 1px 2px var(--app-set-1-btn-txt-color-1);
  }

  ::-webkit-scrollbar-corner {
    background: var(--app-set-1-txt-color);
  }
}
