html[data-theme="dark"] {
  --app-primary-color: #c93165;
  --app-success-color: #619a5c;
  --app-danger-color: #b75b54;
  --app-warning-color: #d68b4a;

  --app-secondary-color: #244172;
  --app-secondary-color-shade-1: #304057;
  --app-secondary-color-shade-2: #3e7be5;
  --app-secondary-color-shade-3: #5291bf;

  --app-theme-color-0: #222222;
  --app-theme-color-1: #292929;
  --app-theme-color-2: #2b2b2b;
  --app-theme-color-3: #323333;
  --app-theme-color-4: #383838;
  --app-theme-color-5: #424242;
  --app-theme-color-6: #525252;
  --app-theme-color-7: #5a5b5c;
  --app-theme-color-8: #6e6e6e;
  --app-theme-color-9: #7c7d7d;
  --app-theme-color-10: #7a8287;
  --app-theme-color-11: #808080;
  --app-theme-color-12: #a3a3a3;
  --app-theme-color-13: #efefef;
  --app-theme-color-14: #dfdfe0;
  --app-theme-color-15: #f9fcff;
  --app-theme-color-16: #4b4e51;
}
